@model IEnumerable<CafeManagement.Models.Domain.Schedule>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Schedules</h2>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

<a asp-action="Create" class="btn btn-primary mb-3">
    + Create Schedule
</a>

<table class="table table-bordered">
<thead>
<tr>
<th>Employee</th>
<th>Store</th>
<th>Shift</th>
<th>Date</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
@if (Model != null && Model.Any())
{
    foreach (var s in Model)
    {
        <tr>
        <td>@s.User?.Email</td>
        <td>@s.Store?.Name</td>
        <td>@s.Shift?.ShiftName</td>
        <td>@s.WorkDate.ToString("yyyy-MM-dd")</td>

        <td>
            <a asp-action="Edit" asp-route-id="@s.Id" class="btn btn-warning btn-sm">
                Edit
            </a>

            <a asp-action="Delete" asp-route-id="@s.Id" class="btn btn-danger btn-sm">
                Delete
            </a>
        </td>
        </tr>
    }
}
else
{
<tr>
<td colspan="4">No schedules found</td>
</tr>
}
</tbody>
</table>